<div>
    <form [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>Choose City</mat-label>
          <mat-select [formControl]="cityControl" name="food" (valueChange)="onCityChange($event)">
            <mat-option *ngFor="let city of cities" [value]="city.id">
              {{city.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
</div>

<div *ngIf="userByCity?.length != 0">
    <table #table mat-table [dataSource]="userByCity" class="mat-elevation-z8">
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef> UserId </th>
          <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
        </ng-container>
      
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef> User Name </th>
          <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="cityName">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="roleName">
          <th mat-header-cell *matHeaderCellDef> Role </th>
          <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="userTableDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: userTableDisplayedColumns;"></tr>
      </table>
</div>
<div *ngIf="userByCity?.length == 0">No User for this City</div>
<br>
<div *ngIf="storeByCity?.length == 0">No Store in this City</div>
<br>
<div *ngIf="storeByCity?.length != 0">
    <table mat-table [dataSource]="storeByCity" class="mat-elevation-z8">
        <ng-container matColumnDef="storeId">
          <th mat-header-cell *matHeaderCellDef> StoreId </th>
          <td mat-cell *matCellDef="let element"> {{element.storeId}} </td>
        </ng-container>
      
        <ng-container matColumnDef="storeName">
          <th mat-header-cell *matHeaderCellDef> Store Name </th>
          <td mat-cell *matCellDef="let element"> {{element.storeName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="cityName">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="storeTableDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: storeTableDisplayedColumns;"></tr>
      </table>
</div>